<template>
     <div class="">
         <br><br><br><br><br><br><br><br><br><br><br>
        <div class="app_logo-container">
            <img src="/images/emi_logo.png" alt="EMI" class="logo animated bounce">
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-md-12 col-md-offset-6">
                    <moon-loader :color="color" :sixe="size"></moon-loader>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['isLoading'],
        // computed: {
        //     loading () {
        //         return this.isLoading
        //     }
        // },
        data: function() {
            return {
                color: '#273C87',
                size: '48px'
            }
        }
    }
</script>
<style scopped>
    .dimension{ 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:2305px !important; /*change to YOUR page height*/
        background-color: #000;
        filter:alpha(opacity=50);
        -moz-opacity:0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;
        z-index: 998;
    }

    .logo {
        width: 25%;
    }
</style>

