
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "~vue-wysiwyg/dist/vueWysiwyg.css";
@import "~leaflet/dist/leaflet.css";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";
body {
    font-family: 'Raleway'
}

.login-container {
    height: 100%;
    width: 100% !important;
    display: block;
    background-image: linear-gradient(to left top, $primary_color, lighten($primary_color, 0%));
    align-content: center;
    color: $secondary_color !important;
    opacity: 1;
    position: relative;
    //opacity: 0.9;
}

// .login-bg {
//     // background-image: url("/images/logo-3.png");
//     background-image: url("/images/login.jpg");
//     background-size: 100%;
//     background-repeat: no-repeat;
//     background-position-x: 10%;
//     background-position-y: 10%;
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     top: 0;
//     //opacity: 0.3;
// }

.login-box {
    margin-top: 12%;
    background-color: transparent;
}

.app-logo {
    width: 8.2em;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .app-name {
    color: $primary_color;
    font-size: 1.5em;
  }
  
  .app-footername{
    color: $primary_color;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .page-header-title {
    background-color: $primary_color;
  }
    
  .navbar-default {
    background-color: $primary_color;
  }

  .logo-sidebar {
    width: 10.2em;
                                            
    margin-top: 10px;
    margin-bottom: 50px;   
  }

  .app_logo-modulo {
    width: 180px;
    height: 150px;
  }

  .avatar-circle {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  
  .initials {
    font-size: 1.2em;
    color: $secondary_color;
    background-color:$primary_color;
    border-radius: 5px;
    text-align: center;
    padding: 3px 3px 3px 3px;
    font-weight: bold;
  }

  .app-bg{
    background-color: $primary_color !important;
  }
  
  .app-color {
    color: $secondary_color;
  }