

// Color variables
$white: #ffffff;
$danger: #f03154;
$success: #109df3;
$warning: #f7b543;
$primary: #5cb45b;
$lightdark5: #555555;
$info: #04a2b3;
$purple: #715ded;
$lightgray: #dddddd;
$pink: #e866ff;
$inverse: #212121;
$light: #eeeeee;
$lightdark3: #333333;
$lightdark4: #444444;
$light5: #f5f5f5;
$light3: #f3f3f3;
$light9: #f9f9f9;
$light-alt: #fafafa;
$lightdark7: #797979;
$lightdark-alt: #cccccc;
$dark: #2a323c;
$muted: #898989;

$font-primary: 'PT Sans Caption', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// Width variables
$width: 100%;


// Height variables
$height: 100%;
